.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 5px);
    background-color: #00bfa6;
}

.title {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    color: white;
}